<div style="text-align:justify;"><p>
	La grisaille stagne entre Salève et Jura. Une couche fine, mais opaque. Un froid mordant. Courir, entre sel et gel. Dans un coin du monde qu'il comprends mal. Puisqu'il y vit. Alors que les autres coins du monde, il les comprend mal. Puisqu'il n'y vit pas. Le monde n'est pas fait pour être compris. Le monde n'est pas fait pour. On y vit. Tant bien que mal. La grisaille stagne entre Salève et Jura. Ici on parie sur l'évolution des prix. On parie à la hausse, et on encaisse. On parie à la baisse, et on encaisse. Ici on vend et on achète des promesses de vente ou des promesses d'achat de produits pétroliers, de blé, de café, de chocolat, de cuivre, de. De tout ce dont le prix change. Le plus rapidement possible. Et on encaisse. On capitalise. De la grisaille entre Salève et Jura.
</p></div>

<div style="text-align:justify;"><p>Et la grisaille rend avide. Une forme décomplexée du calvinisme. Le capitalvinisme. En conjoncture de <a href="https://identi.ca/tab/kapitaklism" title="tag kapitaklism sur le site de microbloging identi.ca">#kapitaklism</a>. 
</p></div>

<p>
	<audio controls="controls" preloads="" title="">
		<source src="" type="audio/ogg; codecs=vorbis">
		<source src="" type="audio/mp3">
		Ton navigateur ne supporte pas la balise audio html5 ? Télécharge le <a href="" title="">fichier</a>
	</audio>
</p>


<div style="text-align:justify;"><p>
texte
</p></div>


<div style="text-align:justify;"><p>
texte
</p></div>
